{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block title %}Prévenir d'une absence{% endblock %}

{% block content %}
    <h1 class="page-header" ><i class="fa fa-fw fa-bullhorn"></i><i class="fa fa-fw fa-calendar-o"></i>Prévenir d'une absence</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--<div class="panel-heading">

                </div>-->
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label for="student">Etudiant</label>
                            {{ form_widget(form.nomEleve) }}
                            <p class="help-block">Selectionner l'étudiant qui est en retard</p>
                        </div>
                        <div class="row" >
                            <div class="form-group col-lg-6">
                                <label for="start_date">Date de début</label>
                                {{ form_widget(form.absenceDateDebut) }}
                                <p class="help-block">Date de début de l'absence</p>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-lg-6">
                                <label for="end_date">Date de fin</label>
                                {{ form_widget(form.absenceDateFin) }}
                                <p class="help-block">Date de fin de l'absence</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ground" >Motif</label>
                            {{ form_widget(form.motif) }}
                            <p class="help-block">Raison pour laquelle l'étudiant était absent</p>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-save"></i>Enregistrer</button>
                            <button type="reset" class="btn btn-danger"><i class="fa fa-fw fa-undo"></i>Annuler</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
