{% extends 'EmaRgementBundle::layout.html.twig' %}

{% block title %}Justifier d'une absence{% endblock %}

{% block content %}
    <h1 class="page-header" ><i class="fa fa-fw fa-check"></i><i class="fa fa-fw fa-calendar-o"></i>Justifier d'une absence</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form" method="POST" action="{{ path('ema_rgement_justify_absence') }}">
                        <div class="form-group">
                            <label for="student">Etudiant</label>
                            <select name="student" class="student combobox form-control">
                                <option></option>
                                {% for student in students %}
                                    <option value="{{student.id}}"
                                    {% if studentId is same as(student.id) %}
                                        selected="selected"
                                    {% endif %}>{{student.nom}} {{student.prenom}}</option>
                                {% endfor %}
                            </select>
                            <p class="help-block">Selectionner l'étudiant qui était absent</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" >Absences non justifiées</label>
                            <div class="justify-checkboxes"
                                data-url="{{path('ema_rgement_ajax_list_absence_to_justify_for_a_student')}}">
                            {% if absenceId is not null %}
                                <input class="hidden-absence" type="hidden" value="{{ absenceId }}"/>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motif" >Motif</label>
                            <textarea name="motif" id="motif" class="form-control" ></textarea>
                            <p class="help-block">Raison pour laquelle l'étudiant était absent</p>
                        </div>
                        <!-- <div class="form-group">
                            <label for="justification_files" >Justificatif</label>
                            <input id="justification_files" type="file">
                        </div>-->
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-save"></i>Enregistrer</button>
                            <button type="reset" class="btn btn-danger"><i class="fa fa-fw fa-undo"></i>Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/emargement/js/views/Justify/absence.js') }}" type="text/javascript"></script>
{% endblock %}
