{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
        {{ form_errors(form) }}
        <div class="col-lg-10 form-control-wrapper">
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        <textarea class="form-control animated" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block button_row -%}
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock button_row %}
